---
layout: index
title: Думи
summary: Кратки публикации, статии и есета.
introduction: Кратки публикации, статии и есета; писани главно за мен, а понякога и за други, също.
permalink: "/articles/"
override:tags: []
---
{%- assign groupedPosts = collections.articles | reverse | groupby -%}
{%- for arr in groupedPosts %}
  {%- assign year = arr[0] -%}
  {%- assign posts = arr[1] -%}
  <h2>{{ year }}</h2>
    {%- for item in posts %}
      <article class="h-entry">
        <footer>
          <time class="dt-published | text-base" datetime="{{ item.date | dateToRfc3339 }}">{{ item.date | datetime: 'dd LLLL' }}</time>
        </footer>
        <header>
          <p class="p-name">
            <b><a class="u-url" rel="bookmark" href="{{ item.url }}">{{ item.data.title | markdown: 'inline' }}</a></b>
          </p>
        </header>
        {%- if item.data.summary -%}
          <div class="p-summary">
            {{ item.data.summary | markdown }}
          </div>
        {%- endif -%}
      </article>
    {%- endfor %}
{%- endfor %}
